<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmt.oa.dao.TaskMapper">
	<resultMap id="BaseResultMap" type="com.mmt.oa.dao.model.Task">
		<id column="task_id" property="taskId" jdbcType="INTEGER" />
		<result column="instence_id" property="instenceId" jdbcType="VARCHAR" />
		<result column="workflow_id" property="workflowId" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="task_node_count" property="taskNodeCount"
			jdbcType="INTEGER" />
		<result column="task_status" property="taskStatus" jdbcType="INTEGER" />
		<result column="is_valid" property="isValid" jdbcType="BIT" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
		<result column="modified_time" property="modifiedTime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="TemplateResultMap" type="com.mmt.oa.dao.model.TaskTemplate">
		<id column="task_id" property="taskId" jdbcType="INTEGER" />
		<result column="workflow_id" property="workflowId" jdbcType="INTEGER" />
		<result column="workflow_name" property="workflowName" jdbcType="VARCHAR" />
		<result column="workflow_content" property="workflowContent"
			jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="task_node_count" property="taskNodeCount"
			jdbcType="INTEGER" />
		<result column="task_status" property="taskStatus" jdbcType="INTEGER" />
		<result column="is_valid" property="isValid" jdbcType="BIT" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
		<result column="modified_time" property="modifiedTime"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		task_id, instence_id, workflow_id, remark, task_node_count,
		task_status, is_valid,
		create_by,
		create_time, modified_by,
		modified_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from task
		where task_id = #{taskId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from task
		where task_id = #{taskId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.mmt.oa.dao.model.Task">
		insert into task (task_id,
		instence_id, workflow_id, remark,
		task_node_count, task_status,
		is_valid,
		create_by, create_time, modified_by,
		modified_time)
		values
		(#{taskId,jdbcType=INTEGER},
		#{instenceId,jdbcType=VARCHAR},#{workflowId,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},
		#{taskNodeCount,jdbcType=INTEGER},
		#{taskStatus,jdbcType=INTEGER}, #{isValid,jdbcType=BIT},
		#{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{modifiedBy,jdbcType=VARCHAR},
		#{modifiedTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.mmt.oa.dao.model.Task">
		insert into task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="taskId != null">
				task_id,
			</if>
			<if test="instenceId != null">
				instence_id,
			</if>
			<if test="workflowId != null">
				workflow_id,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="taskNodeCount != null">
				task_node_count,
			</if>
			<if test="taskStatus != null">
				task_status,
			</if>
			<if test="isValid != null">
				is_valid,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifiedBy != null">
				modified_by,
			</if>
			<if test="modifiedTime != null">
				modified_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="taskId != null">
				#{taskId,jdbcType=INTEGER},
			</if>
			<if test="instenceId != null">
				#{instenceId,jdbcType=VARCHAR},
			</if>
			<if test="workflowId != null">
				#{workflowId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="taskNodeCount != null">
				#{taskNodeCount,jdbcType=INTEGER},
			</if>
			<if test="taskStatus != null">
				#{taskStatus,jdbcType=INTEGER},
			</if>
			<if test="isValid != null">
				#{isValid,jdbcType=BIT},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedBy != null">
				#{modifiedBy,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				#{modifiedTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.mmt.oa.dao.model.Task">
		update task
		<set>
			<if test="workflowId != null">
				workflow_id = #{workflowId,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="taskNodeCount != null">
				task_node_count = #{taskNodeCount,jdbcType=INTEGER},
			</if>
			<if test="taskStatus != null">
				task_status = #{taskStatus,jdbcType=INTEGER},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=BIT},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedBy != null">
				modified_by = #{modifiedBy,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where task_id = #{taskId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.mmt.oa.dao.model.Task">
		update task
		set
		workflow_id = #{workflowId,jdbcType=INTEGER},
		remark =
		#{remark,jdbcType=VARCHAR},
		task_node_count =
		#{taskNodeCount,jdbcType=INTEGER},
		task_status =
		#{taskStatus,jdbcType=INTEGER},
		is_valid = #{isValid,jdbcType=BIT},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		modified_by =
		#{modifiedBy,jdbcType=VARCHAR},
		modified_time =
		#{modifiedTime,jdbcType=TIMESTAMP}
		where task_id =
		#{taskId,jdbcType=INTEGER}
	</update>

	<insert id="addNewTask" keyProperty="id" useGeneratedKeys="true"
		parameterType="com.mmt.oa.dao.model.Task">
		insert into task (instence_id, workflow_id, remark,
		task_node_count, task_status, is_valid,
		create_by, create_time,
		modified_by,
		modified_time)
		values (
		#{instenceId,jdbcType=VARCHAR},#{workflowId,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},
		#{taskNodeCount,jdbcType=INTEGER},
		#{taskStatus,jdbcType=INTEGER}, #{isValid,jdbcType=BIT},
		#{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{modifiedBy,jdbcType=VARCHAR},
		#{modifiedTime,jdbcType=TIMESTAMP})
	</insert>

	<select id="queryTaskInfoById" resultMap="BaseResultMap"
		parameterType="com.mmt.oa.dao.model.Task">
		select
		<include refid="Base_Column_List" />
		from task
		<trim prefix="where" prefixOverrides="or |and ">
			<if test="workflowId != null">
				and workflow_id = #{workflowId,jdbcType=INTEGER}
			</if>
			<if test="instenceId != null">
				and instence_id = #{instenceId,jdbcType=VARCHAR}
			</if>
			<if test="isValid != null">
				and is_valid = #{isValid,jdbcType=BIT}
			</if>
		</trim>
	</select>

	<select id="queryTaskInfoByModel" resultMap="TemplateResultMap"
		parameterType="com.mmt.oa.dao.model.Task">
		select
		a.task_id, a.workflow_id,
		b.workflow_name, b.workflow_content, a.remark,
		a.task_node_count, a.task_status, a.is_valid,
		a.create_by, cast(a.create_time as char) as	create_time,
		a.modified_by, cast(a.modified_time as char) as	modified_time
		from task a
		left join workflow b on a.workflow_id =	b.workflow_id
		<trim prefix="where" prefixOverrides="or |and ">
			<if test="taskId != null">
				and a.task_id = #{taskId,jdbcType=INTEGER}
			</if>
			<if test="workflowId != null">
				and a.workflow_id = #{workflowId,jdbcType=INTEGER}
			</if>
			<if test="instenceId != null">
				and a.instence_id = #{instenceId,jdbcType=VARCHAR}
			</if>
			<if test="taskStatus != null">
				and a.task_status = #{taskStatus,jdbcType=INTEGER}
			</if>
			<if test="isValid != null">
				and a.is_valid = #{isValid,jdbcType=BIT}
			</if>
			<if test="createBy != null">
				and a.create_by = #{createBy,jdbcType=VARCHAR}
			</if>
		</trim>
	</select>


	<update id="modifyTaskInfoByModel" parameterType="com.mmt.oa.dao.model.Task">
		update task
		<set>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="modifiedBy != null">
				modified_by = #{modifiedBy,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=BIT},
			</if>
		</set>
		<trim prefix="where" prefixOverrides="or |and ">
			<if test="taskId != null">
				and task_id = #{taskId,jdbcType=INTEGER}
			</if>
			<if test="workflowId != null">
				and workflow_id = #{workflowId,jdbcType=INTEGER}
			</if>
			<if test="instenceId != null">
				and instence_id = #{instenceId,jdbcType=VARCHAR}
			</if>
			<if test="taskStatus != null">
				and task_status = #{taskStatus,jdbcType=INTEGER}
			</if>
			<if test="isValid != null">
				and is_valid = #{isValid,jdbcType=BIT}
			</if>
		</trim>
	</update>


	<update id="modifyTaskInfoById" parameterType="com.mmt.oa.dao.model.Task">
		update task
		<set>
			<if test="taskStatus != null">
				task_status = #{taskStatus,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="modifiedBy != null">
				modified_by = #{modifiedBy,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=BIT},
			</if>
		</set>
		<trim prefix="where" prefixOverrides="or |and ">
			<if test="taskId != null">
				and task_id = #{taskId,jdbcType=INTEGER}
			</if>
		</trim>
	</update>















</mapper>