<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmt.oa.dao.UserMapper">
	<resultMap id="BaseResultMap"
		type="com.mmt.oa.dao.model.User">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="department" property="department"
			jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="user_name" property="userName"
			jdbcType="VARCHAR" />
		<result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
		<result column="is_valid" property="isValid" jdbcType="BIT" />
		<result column="create_time" property="createTime"
			jdbcType="TIMESTAMP" />
		<result column="create_by" property="createBy"
			jdbcType="VARCHAR" />
		<result column="modified_time" property="modifiedTime"
			jdbcType="TIMESTAMP" />
		<result column="modified_by" property="modifiedBy"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		user_id, name, department, role_id, user_name, user_pwd,
		is_valid,
		create_time, create_by,
		modified_time, modified_by
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user
		where user_id = #{userId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from user
		where user_id =
		#{userId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.mmt.oa.dao.model.User">
		insert into user (user_id,
		name, department,
		role_id, user_name, user_pwd,
		is_valid, create_time,
		create_by,
		modified_time, modified_by)
		values
		(#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{department,jdbcType=VARCHAR},
		#{roleId,jdbcType=INTEGER},
		#{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR},
		#{isValid,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR},
		#{modifiedTime,jdbcType=TIMESTAMP},
		#{modifiedBy,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.mmt.oa.dao.model.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="userPwd != null">
				user_pwd,
			</if>
			<if test="isValid != null">
				is_valid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="modifiedTime != null">
				modified_time,
			</if>
			<if test="modifiedBy != null">
				modified_by,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				#{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				#{isValid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				#{modifiedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedBy != null">
				#{modifiedBy,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.mmt.oa.dao.model.User">
		update user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				department = #{department,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				user_pwd = #{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedBy != null">
				modified_by = #{modifiedBy,jdbcType=VARCHAR},
			</if>
		</set>
		where user_id = #{userId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.mmt.oa.dao.model.User">
		update user
		set name = #{name,jdbcType=VARCHAR},
		department = #{department,jdbcType=VARCHAR},
		role_id =
		#{roleId,jdbcType=INTEGER},
		user_name = #{userName,jdbcType=VARCHAR},
		user_pwd = #{userPwd,jdbcType=VARCHAR},
		is_valid =
		#{isValid,jdbcType=BIT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		create_by =
		#{createBy,jdbcType=VARCHAR},
		modified_time =
		#{modifiedTime,jdbcType=TIMESTAMP},
		modified_by =
		#{modifiedBy,jdbcType=VARCHAR}
		where user_id =
		#{userId,jdbcType=INTEGER}
	</update>


	<insert id="addNewUser"
		parameterType="com.mmt.oa.dao.model.User">
		insert into user (name, department,
		role_id, user_name,
		user_pwd,
		is_valid, create_time, create_by,
		modified_time, modified_by)
		values (#{name,jdbcType=VARCHAR},
		#{department,jdbcType=VARCHAR},
		#{roleId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
		#{userPwd,jdbcType=VARCHAR},
		#{isValid,jdbcType=BIT},
		#{createTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=VARCHAR},
		#{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR})
	</insert>

	<select id="queryUserDetails" resultMap="BaseResultMap"
		parameterType="com.mmt.oa.dao.model.User">
		select
		<include refid="Base_Column_List" />
		from user
		<trim prefix="where" prefixOverrides="or |and ">
			<if test="userId != null">
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				and name like
				CONCAT('%',#{name,jdbcType=VARCHAR},'%')
			</if>
			<if test="department != null">
				and department = #{department,jdbcType=VARCHAR}
			</if>
			<if test="userName != null">
				and user_name like
				CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
			</if>
			<if test="isValid != null">
				and is_valid = #{isValid,jdbcType=BIT}
			</if>
		</trim>
	</select>

	<update id="modifyUserAccount"
		parameterType="com.mmt.oa.dao.model.User">
		update user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				department = #{department,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				user_pwd = #{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				role_id = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=BIT},
			</if>
		</set>
		<trim prefix="where" prefixOverrides="or |and ">
			<if test="userId != null">
				and user_id = #{userId,jdbcType=INTEGER}
			</if>
		</trim>
	</update>





















</mapper>