<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmt.oa.dao.WorkflowMapper">
	<resultMap id="BaseResultMap" type="com.mmt.oa.dao.model.Workflow">
		<id column="workflow_id" property="workflowId" jdbcType="INTEGER" />
		<result column="workflow_name" property="workflowName"
			jdbcType="VARCHAR" />
		<result column="workflow_content" property="workflowContent"
			jdbcType="VARCHAR" />
		<result column="workflow_node_count" property="workflowNodeCount"
			jdbcType="INTEGER" />
		<result column="is_valid" property="isValid" jdbcType="BIT" />
		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
		<result column="modified_time" property="modifiedTime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		workflow_id, workflow_name, workflow_content,
		workflow_node_count, is_valid,
		create_by,
		create_time, modified_by,
		modified_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from workflow
		where workflow_id = #{workflowId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		workflow
		where workflow_id = #{workflowId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.mmt.oa.dao.model.Workflow">
		insert into workflow
		(workflow_id, workflow_name, workflow_content,
		workflow_node_count,
		is_valid, create_by,
		create_time, modified_by, modified_time
		)
		values
		(#{workflowId,jdbcType=INTEGER}, #{workflowName,jdbcType=VARCHAR},
		#{workflowContent,jdbcType=VARCHAR},
		#{workflowNodeCount,jdbcType=INTEGER}, #{isValid,jdbcType=BIT},
		#{createBy,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{modifiedBy,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.mmt.oa.dao.model.Workflow">
		insert into workflow
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="workflowId != null">
				workflow_id,
			</if>
			<if test="workflowName != null">
				workflow_name,
			</if>
			<if test="workflowContent != null">
				workflow_content,
			</if>
			<if test="workflowNodeCount != null">
				workflow_node_count,
			</if>
			<if test="isValid != null">
				is_valid,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifiedBy != null">
				modified_by,
			</if>
			<if test="modifiedTime != null">
				modified_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="workflowId != null">
				#{workflowId,jdbcType=INTEGER},
			</if>
			<if test="workflowName != null">
				#{workflowName,jdbcType=VARCHAR},
			</if>
			<if test="workflowContent != null">
				#{workflowContent,jdbcType=VARCHAR},
			</if>
			<if test="workflowNodeCount != null">
				#{workflowNodeCount,jdbcType=INTEGER},
			</if>
			<if test="isValid != null">
				#{isValid,jdbcType=BIT},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedBy != null">
				#{modifiedBy,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				#{modifiedTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.mmt.oa.dao.model.Workflow">
		update workflow
		<set>
			<if test="workflowName != null">
				workflow_name = #{workflowName,jdbcType=VARCHAR},
			</if>
			<if test="workflowContent != null">
				workflow_content = #{workflowContent,jdbcType=VARCHAR},
			</if>
			<if test="workflowNodeCount != null">
				workflow_node_count =
				#{workflowNodeCount,jdbcType=INTEGER},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=BIT},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifiedBy != null">
				modified_by = #{modifiedBy,jdbcType=VARCHAR},
			</if>
			<if test="modifiedTime != null">
				modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where workflow_id = #{workflowId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.mmt.oa.dao.model.Workflow">
		update workflow
		set workflow_name = #{workflowName,jdbcType=VARCHAR},
		workflow_content
		= #{workflowContent,jdbcType=VARCHAR},
		workflow_node_count =
		#{workflowNodeCount,jdbcType=INTEGER},
		is_valid =
		#{isValid,jdbcType=BIT},
		create_by = #{createBy,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		modified_by =
		#{modifiedBy,jdbcType=VARCHAR},
		modified_time =
		#{modifiedTime,jdbcType=TIMESTAMP}
		where workflow_id =
		#{workflowId,jdbcType=INTEGER}
	</update>

	<insert id="addNewWorkflow" parameterType="com.mmt.oa.dao.model.Workflow">
		insert into workflow
		(workflow_name, workflow_content,
		workflow_node_count, is_valid,
		create_by,
		create_time, modified_by, modified_time)
		values
		(#{workflowName,jdbcType=VARCHAR},
		#{workflowContent,jdbcType=VARCHAR},
		#{workflowNodeCount,jdbcType=INTEGER}, #{isValid,jdbcType=BIT},
		#{createBy,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{modifiedBy,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP})
	</insert>

	<update id="modifyWorkflowInfo" parameterType="com.mmt.oa.dao.model.Workflow">
		update workflow
		<set>
			<if test="workflowName != null">
				workflow_name = #{workflowName,jdbcType=VARCHAR},
			</if>
			<if test="workflowContent != null">
				workflow_content = #{workflowContent,jdbcType=VARCHAR},
			</if>
			<if test="workflowNodeCount != null">
				workflow_node_count =
				#{workflowNodeCount,jdbcType=INTEGER},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=BIT},
			</if>
			<if test="modifiedBy != null">
				modified_by = #{modifiedBy,jdbcType=VARCHAR},
			</if>
		</set>
		where workflow_id = #{workflowId,jdbcType=INTEGER}
	</update>

	<update id="deleteWorkflowInfo" parameterType="com.mmt.oa.dao.model.Workflow">
		update workflow
		<set>
			<if test="isValid != null">
				is_valid = #{isValid,jdbcType=BIT},
			</if>
			<if test="modifiedBy != null">
				modified_by = #{modifiedBy,jdbcType=VARCHAR},
			</if>
		</set>
		where workflow_id = #{workflowId,jdbcType=INTEGER}
	</update>

	<select id="queryWorkflowInfo" resultMap="BaseResultMap"
		parameterType="com.mmt.oa.dao.model.Workflow">
		select
		<include refid="Base_Column_List" />
		from workflow
		<trim prefix="where" prefixOverrides="or |and ">
			<if test="workflowId != null">
				and workflow_id = #{workflowId,jdbcType=INTEGER}
			</if>
			<if test="workflowName != null">
				and workflow_name = #{workflowName,jdbcType=VARCHAR}
			</if>
			<if test="isValid != null">
				and is_valid = #{isValid,jdbcType=BIT}
			</if>
		</trim>
	</select>

	<select id="queryWorkflowInfoById" resultMap="BaseResultMap"
		parameterType="com.mmt.oa.dao.model.Workflow">
		select
		<include refid="Base_Column_List" />
		from workflow
		<trim prefix="where" prefixOverrides="or |and ">
			<if test="workflowId != null">
				and workflow_id = #{workflowId,jdbcType=INTEGER}
			</if>
			<if test="isValid != null">
				and is_valid = #{isValid,jdbcType=BIT}
			</if>
		</trim>
	</select>











</mapper>